<template>
  <div class="orange">
    <div class="style-with-module-scoped">
      <p>style with module scoped (normal)</p>
    </div>
    <div :class="$style['style-with-module-scoped']">
      <p>style with module scoped (module)</p>
    </div>
  </div>
</template>

<style lang="scss">
  .orange {
    background: orange;
  }
</style>
<style module scoped lang="scss">
  .style-with-module-scoped {
    background: green;
    color: white;
  }
</style>
