<template>
  <div>
    <p>I <em>love</em> Comic Sans so <strong>everyone</strong> should use Comic Sans too</p>
  </div>
</template>

<style lang="scss">
  * {
    font-family: "Comic Sans MS";
  }
</style>
