<template>
  <div :class="$style['style-with-module']">
    <p>Style with module</p>
  </div>
</template>

<style lang="scss" module>
  .style-with-module {
    background: red;
    color: white;
  }
</style>
