<template>
  <div>
    <style-with-module-class />
    <style-with-scoped-class />
    <no-style-with-module-scoped-class />
    <style-with-normal-class />

    <h1>Result:</h1>
    <ul>
      <li>
        <strong>Scoped: </strong>
        <ul>
          <li>all elements in the component DOM receive an attribute in the format <strong>data-v-uniquecomponenthash</strong></li>
          <li>the output css contains the styles but modified to include the attribute, e.g. <strong>.container[data-v-uniquecomponenthash]</strong> thus containing these styles to elements within this component</li>
          <li>these scoped styles are referenced in the component template as you would any normal style</li>
        </ul>
      </li>
      <li>
        <strong>Module: </strong>
        <ul>
          <li>all styles in the &lt;style&gt; tag are hashed in the format <strong>ComponentName_style-name_uniqueHash</strong></li>
          <li>styles are then replaced with their hashed equivalent, e.g. <strong>.ComponentName_style-name_uniqueHash</strong> also containing these styles to elements within this component</li>
          <li>then when referencing this style in the component template, you use the bound class attribute, with a value read from the <strong>$style</strong> option which is injected into the component by webpack, for example in this case: <strong>$style['style-name']</strong></li>
        </ul>
      </li>
      <li>
        <strong>Module <em>and</em> Scoped: </strong>
        <ul>
          <li>Scoped has no effect. Module rules apply.</li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script>
import StyleWithModuleClass from '@/components/StyleWithModuleClass';
import StyleWithScopedClass from '@/components/StyleWithScopedClass';
import NoStyleWithModuleScopedClass from '@/components/NoStyleWithModuleScopedClass';
import StyleWithNormalClass from '@/components/StyleWithNormalClass';

export default {
  components: {
    StyleWithModuleClass,
    StyleWithScopedClass,
    NoStyleWithModuleScopedClass,
    StyleWithNormalClass,
  },
};
</script>

<style lang="scss">
  div div {
    padding: 20px;
  }
  ul ul {
    margin-bottom: 20px !important;
  }
</style>
